<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja G-TEC Multimarcas</title>
    <link href="/static/images/favicon.png" type="image/x-icon" rel="icon">
    <link href="/static/css/dist/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <header class="bg-blue-700 shadow-md text-white">
      <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">Loja G-TEC</h1>
        <nav class="flex items-center">
          <a href="#" class="px-4">Home</a>
          <a href="#" class="px-4">Produtos</a>
          <a href="#" class="px-4">Serviços</a>
          <a href="#" class="px-4">Contato</a>
          <div class="relative ml-4">
            <svg id="cart-icon" 
                 xmlns="http://www.w3.org/2000/svg" 
                 class="h-6 w-6 cursor-pointer" 
                 fill="none" 
                 viewBox="0 0 24 24" 
                 stroke="currentColor"
                 hx-get="/cart-modal"
                 hx-target="#cart-container"
                 hx-swap="innerHTML"
                 hx-trigger="click once">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
          </div>
        </nav>
      </div>
    </header>
    <div class="flex justify-center items-center mx-auto gap-2 text-xl py-4" id="product-type-selection">
      <button type="button" 
        hx-get="/products/all" 
        hx-target="#products-container" 
        hx-swap="innerHTML" 
        hx-indicator="#loading"
        class="px-4 py-2 rounded hover:bg-blue-100 transition-colors duration-200 product-filter-btn">
        Todos
      </button>
      <div class="w-0.5 h-6 bg-black"></div>
      <button type="button" 
        hx-get="/products/bebedouros" 
        hx-target="#products-container" 
        hx-swap="innerHTML" 
        hx-indicator="#loading"
        class="px-4 py-2 rounded hover:bg-blue-100 transition-colors duration-200 product-filter-btn">
        Bebedouros
      </button>
      <div class="w-0.5 h-6 bg-black"></div>
      <button type="button" 
        hx-get="/products/purificadores" 
        hx-target="#products-container" 
        hx-swap="innerHTML" 
        hx-indicator="#loading"
        class="px-4 py-2 rounded hover:bg-blue-100 transition-colors duration-200 product-filter-btn">
        Purificadores
      </button>
      <div class="w-0.5 h-6 bg-black"></div>
      <button type="button" 
        hx-get="/products/refis" 
        hx-target="#products-container" 
        hx-swap="innerHTML" 
        hx-indicator="#loading"
        class="px-4 py-2 rounded hover:bg-blue-100 transition-colors duration-200 product-filter-btn">
        Refis
      </button>
      <div class="w-0.5 h-6 bg-black"></div>
      <button type="button" 
        hx-get="/products/pecas" 
        hx-target="#products-container" 
        hx-swap="innerHTML" 
        hx-indicator="#loading"
        class="px-4 py-2 rounded hover:bg-blue-100 transition-colors duration-200 product-filter-btn">
        Peças
      </button>
    </div>
    <main class="container mx-auto px-4 py-8">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-3xl font-bold">Nossos Produtos</h2>
        <div id="loading" class="htmx-indicator">
          <svg class="animate-spin h-6 w-6 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </div>
      </div>
      <div id="products-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Initial products loaded here -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden product-card" data-name="Purificador IBBL Mio Branco" data-price="699.99">
          <img src="/static/images/purificador.jpg" alt="Purificador IBBL Mio Branco" class="w-full h-64 object-contain">
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">Purificador IBBL Mio Branco</h3>
            <p class="text-gray-600 mb-4">R$ 699.99</p>
            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 add-to-cart">Adicionar ao Carrinho</button>
          </div>
        </div>
      </div>
    </main>

    

    <footer class="bg-gray-800 text-white py-4 mt-8">
      <div class="container mx-auto px-4 text-center">
        <p>&copy; 2025 Loja G-TEC Multimarcas. Todos os direitos reservados.</p>
      </div>
    </footer>
    <div id="cart-container"></div>
    <script type="module" src="/static/js/cart.js"></script>
  </body>
</html>
