{{range .}}
<div class="bg-white rounded-lg shadow-md overflow-hidden product-card {{if not .IsAvailable}}opacity-75{{end}}" data-name="{{.Name}}" data-price="{{.Price}}" data-available="{{.IsAvailable}}" data-id="{{ .ID }}">
  <img src="{{.Image}}" alt="{{.Name}}" class="w-full h-64 object-contain">
  <div class="p-4">
    <h3 class="text-xl font-bold mb-2">{{.Name}}</h3>
    <p class="text-gray-600 mb-2">R$ {{printf "%.2f" .Price}}</p>
    {{if .IsAvailable}}
      <span class="inline-block bg-green-100 text-green-800 text-xs px-2 py-1 rounded-full mb-3">Em Estoque</span>
      <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 add-to-cart w-full">Adicionar ao Carrinho</button>
    {{else}}
      <span class="inline-block bg-red-100 text-red-800 text-xs px-2 py-1 rounded-full mb-3">Fora de Estoque</span>
      <button class="bg-gray-400 text-white px-4 py-2 rounded cursor-not-allowed w-full" disabled>Indisponível</button>
    {{end}}
  </div>
  <script type="module">
  import { addToCart } from "/static/js/cart.js"

  document.querySelectorAll('[data-name="{{.Name}}"] .add-to-cart').forEach(button => {
    button.addEventListener('click', (e) => {
      const productCard = e.target.closest('.product-card');
      const productName = productCard.dataset.name;
      const productId = productCard.dataset.id;
      const productPrice = parseFloat(productCard.dataset.price);
      addToCart(productName, productPrice, productId);
    });
  });
  </script>
</div>
{{end}}
